.arkanoid1{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -591px;
    left: 303px;
}

.arkanoid2{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -613px;
    left: 354px;
}

.arkanoid3{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -635px;
    left: 405px;
}

.arkanoid4{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -657px;
    left: 456px;
}

.arkanoid5{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -679px;
    left: 507px;
}

.arkanoid6{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -701px;
    left: 558px;
}

.arkanoid7{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -723px;
    left: 609px;
}

.arkanoid8{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -745px;
    left: 660px;
}

.arkanoid9{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -767px;
    left: 711px;
}

.arkanoid10{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -789px;
    left: 762px;
}

.arkanoid11{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -811px;
    left: 813px;
}

.arkanoid12{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -833px;
    left: 864px;
}

.arkanoid13{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -855px;
    left: 915px;
}

.arkanoid14{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -877px;
    left: 966px;
}

.arkanoid15{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -899px;
    left: 1017px;
}

.arkanoid16{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -921px;
    left: 1068px;
}

.arkanoid17{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -943px;
    left: 1119px;
}

.arkanoid18{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -965px;
    left: 1170px;
}

.arkanoid19{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -987px;
    left: 1221px;
}

.arkanoid20{
    width: 50px;
    height: 20px;
    background: blue;
    border: solid black 1px;
    position: relative;   
    top: -1009px;
    left: 1272px;
}