.gijon1{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1842px;
       left: 303px;
}

.gijon2{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1864px;
       left: 354px;
}

.gijon3{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1886px;
       left: 405px;
}

.gijon4{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1908px;
       left: 456px;
}

.gijon5{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1930px;
       left: 507px;
}

.gijon6{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1952px;
       left: 558px;
}

.gijon7{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1974px;
       left: 609px;
}

.gijon8{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -1996px;
       left: 660px;
}

.gijon9{
       width: 50px;
       height: 20px;
       background: #39ff14;
       border: solid black 1px;
       position: relative;   
       top: -2018px;
       left: 711px;
}

.gijon10{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2040px;
        left: 762px;
}

.gijon11{
        width: 50px;
        height: 20px;
        background: #39ff14;;
        border: solid black 1px;
        position: relative;   
        top: -2062px;
        left: 813px;
}

.gijon12{
        width: 50px;
        height: 20px;
        background: #39ff14;;
        border: solid black 1px;
        position: relative;   
        top: -2084px;
        left: 864px;
}

.gijon13{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2106px;
        left: 915px;
}

.gijon14{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2128px;
        left: 966px;
}

.gijon15{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2150px;
        left: 1017px;
}

.gijon16{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2172px;
        left: 1068px;
}

.gijon17{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2194px;
        left: 1119px;
}

.gijon18{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2216px;
        left: 1170px;
}

.gijon19{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2238px;
        left: 1221px;
}

.gijon20{
        width: 50px;
        height: 20px;
        background: #39ff14;
        border: solid black 1px;
        position: relative;   
        top: -2260px;
        left: 1272px;
}