.game1{
    width: 50px;
    height: 20px;
    background: red;
    border: solid black 1px;
    position: relative;   
    top: -1008px;
    left: 303px;
}

.game2{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1030px;
     left: 354px;
}

.game3{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1052px;
     left: 405px;
}

.game4{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1074px;
     left: 456px;
}

.game5{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1096px;
     left: 507px;
}

.game6{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1118px;
     left: 558px;
}

.game7{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1140px;
     left: 609px;
}

.game8{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1162px;
     left: 660px;
}

.game9{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1184px;
     left: 711px;
}

.game10{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1206px;
     left: 762px;
}

.game11{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1228px;
     left: 813px;
}

.game12{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1250px;
     left: 864px;
}

.game13{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1272px;
     left: 915px;
}

.game14{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1294px;
     left: 966px;
}

.game15{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1316px;
     left: 1017px;
}

.game16{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1338px;
     left: 1068px;
}

.game17{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1360px;
     left: 1119px;
}

.game18{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1382px;
     left: 1170px;
}

.game19{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1404px;
     left: 1221px;
}

.game20{
     width: 50px;
     height: 20px;
     background: red;
     border: solid black 1px;
     position: relative;   
     top: -1426px;
     left: 1272px;
}
