.over1{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1425px;
    left: 303px;
}

.over2{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1447px;
    left: 354px;
}

.over3{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1469px;
    left: 405px;
}

.over4{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1491px;
    left: 456px;
}

.over5{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1513px;
    left: 507px;
}

.over6{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1535px;
    left: 558px;
}

.over7{
      width: 50px;
      height: 20px;
      background: yellow;
      border: solid black 1px;
      position: relative;   
      top: -1557px;
      left: 609px;
}

.over8{
      width: 50px;
      height: 20px;
      background: yellow;
      border: solid black 1px;
      position: relative;   
      top: -1579px;
      left: 660px;
}

.over9{
      width: 50px;
      height: 20px;
      background: yellow;
      border: solid black 1px;
      position: relative;   
      top: -1601px;
      left: 711px;
}

.over10{
       width: 50px;
       height: 20px;
       background: yellow;
       border: solid black 1px;
       position: relative;   
       top: -1623px;
       left: 762px;
}

.over11{
       width: 50px;
       height: 20px;
       background: yellow;
       border: solid black 1px;
       position: relative;   
       top: -1645px;
       left: 813px;
}

.over12{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1667px;
    left: 864px;
}

.over13{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1689px;
    left: 915px;
}

.over14{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1711px;
    left: 966px;
}

.over15{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1733px;
    left: 1017px;
}

.over16{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1755px;
    left: 1068px;
}

.over17{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1777px;
    left: 1119px;
}

.over18{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1799px;
    left: 1170px;
}

.over19{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1821px;
    left: 1221px;
}

.over20{
    width: 50px;
    height: 20px;
    background: yellow;
    border: solid black 1px;
    position: relative;   
    top: -1843px;
    left: 1272px;
}